body {
	color: #491d22;
}

h1, h2 {
	color: #e9d2b0;
	font-family: 'League Gothic', sans-serif;
}

h3, h4, h5 {
	color: #491d22;
	font-family: 'League Gothic', sans-serif;
}

h2 {
	font-size: 72px;
	margin-bottom: 15px;
}

a {	
	color: #491d22;
	font-weight: bold;
	text-decoration: none;

	&:hover,
	&:focus {
		color: lighten(#491d22, 10%);
	}
}

@import "components/actionbar";
@import "components/inputs";
@import "components/masks";
@import "components/menu";
@import "components/modal";

@import "halloween/spriteable/*.png";
@import "components/parallax";
@import "components/footer";