<!doctype html>
<html>
<head>
	<meta charset="utf-8">

    <meta property="og:title" content="Experience Haunted Hills">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Haunted Hills">
    <meta property="og:image" content="http://jinglebots.com/images/klaus-avatar.jpg">
    <meta property="og:url" content="http://haunted-hills.com">
    <meta property="og:description" content="WebRTC Video and Paralax.JS are a frightful combination. It might be the scariest place ever.">
	<meta name="robots" content="all">
    <meta name="description" content="WebRTC Video and Paralax.JS are a frightful combination. It might be the scariest place ever.">

	<title>Haunted Hills</title>

	<link rel="stylesheet" href="css/app.css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>
<body>
	<div id="region--navigation"></div>

	<div id="region--modal"></div>

	<div id="region--body">
		{{{body}}}
	</div>

	<div id="region--footer" class="footer">

		<div class="footer__credits">
			<a class="footer__credits__pointless" href="http://pointlesscorp.com">
				Brought to you by Pointless Corp
			</a>
			<a class="footer__credits__viget" href="http://viget.com">
				A division of Viget
			</a>
		</div>

		<div class="footer__content">
			<p>© 2013 Pointless Corp.</p>
			<p>
				Leave us some <a href="mailto:ben.eckerson@viget.com">FEEDBACK</a>
				and/or follow us
				<a href="http://twitter.com/pointlesscorp">@pointlesscorp</a>
			</p>
		</div>

	</div>

	<script src="/javascripts/vendor/socket.io.js"></script>

	{{#if development}}
		<script src="/javascripts/config.js"></script>
		<script data-main="/javascripts/setup.js" src="/javascripts/vendor/require.js"></script>
	{{else}}
		<script src="/javascripts/build/doppelganger.min.js"></script>
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function() {
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-45263100-1', 'haunted-hills.com');
			ga('send', 'pageview');
    	</script>
	{{/if}}
</body>
</html>