
/* Masks */

%halloween__canvas {
	position: absolute;
	z-index: 3;
}

.halloween__canvas--moon {
	@extend %halloween__canvas;
	left: 155px;
	top: 140px;
}

.halloween__canvas--pumpkin {
	@extend %halloween__canvas;
	right: 240px;
	top: 690px;
}

.halloween__canvas--ghoul {
	@extend %halloween__canvas;
	right: 30px;
	top: 10px;
}

.halloween__canvas--ghost {
	@extend %halloween__canvas;
	opacity: 0.7;
	right: 0;
	top: 0;
	-webkit-filter: saturate(2) brightness(2) contrast(2) sepia(0.5);
}

.halloween__canvas--grave-front {
	@extend %halloween__canvas;
	left: 297px;
	top: 620px;
	-webkit-filter: grayscale(1);
}

.halloween__canvas--grave-middle {
	@extend %halloween__canvas;
	left: 1323px;
	top: 495px;
	-webkit-filter: grayscale(1);
}