/**
 * @name Halloween Parallax
 * @desc Style rules for the parallax effect found
 *       in the main content area of the Halloween
 *       theme.
 */

.layer {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.mask {
	@extend .visually-hidden;
}

.halloween__scene {
	background: url("/images/halloween/background.jpg") 0 0 repeat-x;
	left: 0;
	overflow: hidden;
	max-height: 1120px;
	max-width: 100%;
	position: absolute;
	top: 0;

	&:after {
		box-shadow: inset 0 0 200px #000;
		content: "";
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 1;
	}
}

.halloween__scene .layer div {
	@extend .accelerated;
}

.halloween__house {
  left: 62%;
  position: absolute;
  @include spriteable-sprite('house', true);
  top: 450px;
}

.halloween__moon, .halloween__witch {
  left: 69%;
  position: absolute;
  top: -100px;
  height: 479px;
  width: 522px;

	@media screen and (max-width: 768px) {
		left: 15%;
	}
}

.halloween__moon {
	@include spriteable-sprite('moon', true);
}

.halloween__witch {
	@include spriteable-sprite('witch', true);
}

.halloween__cloud {
  background: url("/images/halloween/cloud.png");
  height: 1220px;
  position: absolute;
  right: -100px;
  top: 0;
  width: 1721px;
}

.halloween__ghost {
  left: 590px;
  position: absolute;
  @include spriteable-sprite('ghost', true);
  top: 30px;
}

.halloween__ghoul {
  bottom: 0;
  left: 27%;
  margin-bottom: -200px;
  position: absolute;
  @include spriteable-sprite('ghoul', true);
}

.halloween__trees--left {
	position: absolute;
	left: -100px;
	@include spriteable-sprite('trees--left', true);
	top: 93px;
}

.halloween__trees--right {
	position: absolute;
	top: 143px;
	right: -100px;
	@include spriteable-sprite('trees--right', true);
}

.halloween__bats--back {
	right: 20%;
	position: absolute;
	@include spriteable-sprite('bats--back', true);
	top: 336px;
}

.halloween__bats--front {
	left: 10%;
	position: absolute;
	@include spriteable-sprite('bats--front', true);
	top: 170px;
}

.halloween__hill--back {
  background: url("/images/halloween/hill_back.png") no-repeat;
  height: 1220px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1721px;
}

.halloween__hill--middle {
  background: url("/images/halloween/hill_middle.png") no-repeat;
  height: 1220px;
  position: absolute;
  right: -100px;
  top: 0;
  width: 1721px;
}

.halloween__hill--front {
  background: url("/images/halloween/hill_front.png") no-repeat;
  height: 1220px;
  left: -100px;
  position: absolute;
  top: 0;
  width: 1721px;
}

@media screen and (max-height: 768px) {

	.halloween__hill--back {
		top: -120px;
	}

	.halloween__hill--middle {
		top: -230px;
	}

	.halloween__hill--front {
		top: -260px;
	}
}