<ul class="scene halloween__scene">

	<li class="layer" data-depth="0">
		<div class="halloween__house"></div>
	</li>

	<li class="layer" data-depth="0.05">
		<div class="halloween__moon">
			<img width="222" height="196" data-zoom="2.7" data-hue="rgba(200, 239, 23, 0.3)" class="mask" src="/images/halloween/moon_mask.png">
			<canvas class="halloween__canvas--moon" width="222" height="196"></canvas>
		</div>
	</li>

	<li class="layer" data-depth="0.08">
		<div class="halloween__witch"></div>
	</li>

	<li class="layer" data-depth="0.10">
		<div class="halloween__cloud swipe--left"></div>
	</li>

	<li class="layer" data-depth="0.07">
		<div class="halloween__bats--back"></div>
	</li>

	<li class="layer" data-depth="0.20">
		<div class="halloween__hill--back"></div>
	</li>

	<li class="layer" data-depth="0.20">
		<div class="halloween__ghost"></div>
	</li>

	<li class="layer" data-depth="0.09">
        <div class="halloween__trees--left"></div>
    </li>

	<li class="layer" data-depth="0.20">
		<div class="halloween__trees--right"></div>
	</li>

	<li class="layer" data-depth="0.40">
		<div class="halloween__hill--middle"></div>
			<img data-zoom="1.9" data-hue="rgba(220, 75, 0, 0.3)" class="mask" src="/images/halloween/pumpkin_mask.png" />
			<canvas class="halloween__canvas--pumpkin" width="175" height="181"></canvas>
		</li>
	</li>

	<li class="layer" data-depth="0.6">
		<div class="halloween__hill--front"></div>
	</li>


	<li class="layer" data-depth="0.12">
		<div class="halloween__bats--front"></div>
	</li>

	<li class="layer" data-depth="1.2">
		<div class="halloween__ghoul">
			<img data-zoom="2.7" data-hue="rgba(30, 200, 60, 0.2)" class="mask" src="/images/halloween/ghoul_mask.png"/>
			<canvas class="halloween__canvas--ghoul" width="125" height="160"></canvas>
		</div>
	</li>

</li>