@import url(../icons/style.css);
/**
 * Doppleganger
 */
/* line 1, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/_base.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 5, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/_base.scss */
body {
  background: #091f27;
  font: 18px/1 Helvetica, sans-serif;
  height: 100%;
  padding: 0;
  margin: 0;
}

/* line 1, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/utilities/_hidden.scss */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  padding: 0;
}

/* line 11, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/utilities/_hidden.scss */
.physically-hidden {
  display: none;
}

/* line 1, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/effects/_fade-away.scss */
.effect__fade-away {
  opacity: 0;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
  -webkit-transform: translate(0, -5%);
  -moz-transform: translate(0, -5%);
  -ms-transform: translate(0, -5%);
  -o-transform: translate(0, -5%);
  transform: translate(0, -5%);
}

/* line 1, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/components/_actionbar.scss */
.actionbar {
  background: rgba(0, 0, 0, 0.5);
  left: 0;
  padding: 0 1em;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 3;
}

/* line 11, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/components/_actionbar.scss */
.actionbar__logo {
  background: transparent url("/images/logo--light.png") 0 0 no-repeat;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  float: left;
  height: 60px;
  width: 182px;
}

/* line 19, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/components/_actionbar.scss */
.actionbar__nav {
  margin: 0;
  padding: 0;
  text-align: right;
}
/* line 24, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/components/_actionbar.scss */
.actionbar__nav li {
  display: inline-block;
  margin: 0 0.5em;
}

/* line 30, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/components/_actionbar.scss */
.actionbar__nav__control {
  color: rgba(255, 255, 255, 0.3);
  display: block;
  line-height: 60px;
  text-decoration: none;
  transition: 0.3s all;
}
/* line 37, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/components/_actionbar.scss */
.actionbar__nav__control:hover {
  color: rgba(255, 255, 255, 0.5);
}
/* line 41, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/components/_actionbar.scss */
.actionbar__nav__control.is-active {
  color: #3AF;
}
/* line 44, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/components/_actionbar.scss */
.actionbar__nav__control.is-active:hover {
  text-shadow: 0 1px 5px #0095ff;
}

/* line 1, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/components/_forms.scss */
label {
  color: #353c43;
  display: block;
  font-size: 12px;
  margin-bottom: 0.5em;
}

/* line 8, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/components/_forms.scss */
.field {
  margin: 0 0 1em;
}

/* line 12, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/components/_forms.scss */
.menu {
  padding: 2em 2em 1.5em;
}

/* line 16, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/components/_forms.scss */
.menu__header {
  margin-bottom: 3em;
  text-align: center;
}

/* line 21, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/components/_forms.scss */
.input--text {
  background: #dddedf;
  border: none;
  display: block;
  font-size: 16px;
  height: 50px;
  line-height: 50px;
  padding: 0 2%;
  width: 100%;
}

/* line 32, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/components/_forms.scss */
.btn {
  background: #3b4c53;
  border-radius: 4px;
  border: none;
  color: #fff;
  font-size: 16px;
  line-height: 50px;
}

/* line 41, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/components/_forms.scss */
.btn--full {
  width: 100%;
}

/* line 45, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/components/_forms.scss */
.form__footer {
  margin-top: 2em;
}

/* line 1, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/components/_honeycomb.scss */
.honeycomb {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}

/* line 10, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/components/_honeycomb.scss */
.honeycomb__layer {
  left: 0;
  position: absolute;
  top: 0;
}

/* line 1, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/components/_modals.scss */
.modal {
  background: #c7ccce;
  left: 50%;
  margin: 0 0 0 -180px;
  position: absolute;
  top: 25%;
  width: 360px;
  z-index: 3;
}

/* line 1, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/themes/_halloween.scss */
.actionbar__logo {
  width: 245px;
}

/* line 6, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/themes/_halloween.scss */
.actionbar__nav__control.is-active {
  color: #ccee14;
  text-shadow: 0 1px 10px #a5c10e;
}
/* line 9, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/themes/_halloween.scss */
.actionbar__nav__control.is-active:hover {
  text-shadow: 0 1px 20px #a5c10e;
}
