/**
 * Doppleganger
 */
/* line 1, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/_base.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 5, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/_base.scss */
body {
  background: #091f27;
  font: 18px/1 "Open Sans", sans-serif;
  height: 100%;
  padding: 0;
  margin: 0;
}

/* line 13, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/_base.scss */
h1, h2, h3, h4, h5 {
  font-weight: 100;
  line-height: 1;
  margin: 0;
  text-transform: uppercase;
}

/* line 20, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/_base.scss */
h3 {
  font-size: 36px;
}

/* line 24, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/_base.scss */
p {
  margin: 0;
}

/* line 28, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/_base.scss */
small {
  font-size: 12px;
}

@font-face {
  font-family: 'icomoon';
  src: url("/fonts/icon/icomoon.eot");
  src: url("/fonts/icon/icomoon.eot?#iefix") format("embedded-opentype"), url("/fonts/icon/icomoon.ttf") format("truetype"), url("/fonts/icon/icomoon.woff") format("woff"), url("/fonts/icon/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 12, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/utilities/_icons.scss */
.icon, [class*="icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 26, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/utilities/_icons.scss */
.icon-chat:before {
  content: "\e600";
}

/* line 29, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/utilities/_icons.scss */
.icon-settings:before {
  content: "\e601";
}

/* line 32, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/utilities/_icons.scss */
.icon-mute:before {
  content: "\e602";
}

/* line 35, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/utilities/_icons.scss */
.icon-camera:before {
  content: "\e603";
}

@font-face {
  font-family: 'League Gothic';
  src: url("/fonts/league_gothic/leaguegothic-regular-webfont.eot");
  src: url("/fonts/league_gothic/leaguegothic-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/league_gothic/leaguegothic-regular-webfont.woff") format("woff"), url("/fonts/league_gothic/leaguegothic-regular-webfont.ttf") format("truetype"), url("/fonts/league_gothic/leaguegothic-regular-webfont.svg#league_gothicregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 1, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/utilities/_hidden.scss */
.visually-hidden, .mask {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  padding: 0;
}

/* line 11, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/utilities/_hidden.scss */
.physically-hidden {
  display: none;
}

/* line 1, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/effects/_fade-away.scss */
.effect__fade-away {
  opacity: 0;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
  -webkit-transform: translate(0, -5%);
  -moz-transform: translate(0, -5%);
  -ms-transform: translate(0, -5%);
  -o-transform: translate(0, -5%);
  transform: translate(0, -5%);
}

@keyframes swipe--left {
  /* line 2, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/animations/_swipe-left.scss */
  0% {
    opacity: 0.2;
    transform: translate(30%, 0);
  }

  /* line 7, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/animations/_swipe-left.scss */
  50% {
    opacity: 1;
    transform: translate(0%, 0);
  }

  /* line 12, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/animations/_swipe-left.scss */
  100% {
    opacity: 0.2;
    transform: translate(-30%, 0);
  }
}

/* line 18, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/animations/_swipe-left.scss */
.swipe--left {
  animation: 55s swipe--left infinite;
}

/* line 1, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/components/_actionbar.scss */
.actionbar {
  background: rgba(0, 0, 0, 0.5);
  left: 0;
  padding: 0 1em;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 3;
}

/* line 11, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/components/_actionbar.scss */
.actionbar__logo {
  background: transparent url("/images/logo--light.png") 0 0 no-repeat;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  float: left;
  height: 60px;
  width: 182px;
}

/* line 19, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/components/_actionbar.scss */
.actionbar__nav {
  margin: 0;
  padding: 0;
  text-align: right;
}
/* line 24, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/components/_actionbar.scss */
.actionbar__nav li {
  display: inline-block;
  margin: 0 0.5em;
}

/* line 30, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/components/_actionbar.scss */
.actionbar__nav__control {
  color: rgba(255, 255, 255, 0.3);
  display: block;
  line-height: 60px;
  text-decoration: none;
  transition: 0.3s all;
}
/* line 37, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/components/_actionbar.scss */
.actionbar__nav__control:hover {
  color: rgba(255, 255, 255, 0.5);
}
/* line 41, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/components/_actionbar.scss */
.actionbar__nav__control.is-active {
  color: #3AF;
}
/* line 44, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/components/_actionbar.scss */
.actionbar__nav__control.is-active:hover {
  text-shadow: 0 1px 5px #0095ff;
}

/* line 1, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/components/_forms.scss */
label {
  color: #353c43;
  display: block;
  font-size: 12px;
  margin-bottom: 0.5em;
}

/* line 8, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/components/_forms.scss */
.field {
  margin: 0 0 1em;
}

/* line 12, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/components/_forms.scss */
.input--text {
  background: #dddedf;
  border: none;
  display: block;
  font-size: 16px;
  height: 50px;
  line-height: 50px;
  padding: 0 2%;
  width: 100%;
}

/* line 23, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/components/_forms.scss */
.btn {
  background: #3b4c53;
  border-radius: 4px;
  border: none;
  color: #fff;
  font-size: 16px;
  line-height: 50px;
}

/* line 32, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/components/_forms.scss */
.btn--full {
  width: 100%;
}

/* line 36, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/components/_forms.scss */
.form__footer {
  margin-top: 2em;
}

/* line 40, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/components/_forms.scss */
.field--horizontal {
  overflow: hidden;
  *zoom: 1;
}
/* line 43, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/components/_forms.scss */
.field--horizontal label {
  background: #fff;
  float: left;
  line-height: 50px;
  padding: 0 0.5em;
  text-align: center;
}
/* line 51, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/components/_forms.scss */
.field--horizontal .input--text {
  float: left;
  padding: 0;
  width: 52%;
}
/* line 57, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/components/_forms.scss */
.field--horizontal .btn {
  float: right;
  width: 30%;
}

/* line 1, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/components/_menu.scss */
.menu {
  padding: 2em 2em 1.5em;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
/* line 5, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/components/_menu.scss */
.menu.is-flipped {
  -webkit-transform: perspective(1000px) rotateY(180deg);
  -moz-transform: perspective(1000px) rotateY(180deg);
  -ms-transform: perspective(1000px) rotateY(180deg);
  -o-transform: perspective(1000px) rotateY(180deg);
  transform: perspective(1000px) rotateY(180deg);
}

/* line 10, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/components/_menu.scss */
.menu__header {
  margin-bottom: 3em;
  text-align: center;
}

/* line 15, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/components/_menu.scss */
.menu__frontface, .menu__backface {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* line 24, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/components/_menu.scss */
.menu__frontface {
  z-index: 2;
}

/* line 28, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/components/_menu.scss */
.menu__backface {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

/* line 1, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/components/_honeycomb.scss */
.honeycomb {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}

/* line 10, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/components/_honeycomb.scss */
.honeycomb__layer {
  left: 0;
  position: absolute;
  top: 0;
}

/* line 1, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/components/_modals.scss */
.modal {
  background: #c7ccce;
  left: 50%;
  margin: 0 0 0 -180px;
  perspective: 1000;
  position: absolute;
  top: 25%;
  width: 360px;
  z-index: 3;
  -webkit-transition: 1s all;
  -moz-transition: 1s all;
  -o-transition: 1s all;
  transition: 1s all;
}

/* line 1, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/themes/_halloween.scss */
body {
  color: #491d22;
}

/* line 5, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/themes/_halloween.scss */
h1, h2, h3, h4, h5 {
  color: #491d22;
  font-family: 'League Gothic', sans-serif;
}

/* line 10, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/themes/_halloween.scss */
.actionbar__logo {
  width: 245px;
}

/* line 15, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/themes/_halloween.scss */
.actionbar__nav__control.is-active {
  color: #ccee14;
  text-shadow: 0 1px 10px #a5c10e;
}
/* line 18, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/themes/_halloween.scss */
.actionbar__nav__control.is-active:hover {
  text-shadow: 0 1px 20px #a5c10e;
}

/* line 24, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/themes/_halloween.scss */
.modal {
  height: 568px;
  width: 798px;
  margin-left: -399px;
}

/* line 30, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/themes/_halloween.scss */
.menu {
  font-size: 18px;
  line-height: 1.5;
  padding: 0;
}

/* line 36, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/themes/_halloween.scss */
.menu__backface {
  background: url("/images/postcard--back.jpg") 0 0 no-repeat;
  padding: 50px;
}

/* line 41, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/themes/_halloween.scss */
.btn {
  background: url("/images/btn--back.jpg") 50% 50%;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-top-color: rgba(255, 255, 255, 0.2);
  border-bottom-color: rgba(0, 0, 0, 0.3);
  border-radius: 0;
  color: #f3f7e1;
  font-family: 'League Gothic';
  font-size: 24px;
  height: 52px;
  line-height: 42px;
  text-transform: uppercase;
}

/* line 55, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/themes/_halloween.scss */
.field--horizontal label, .input--text {
  background: rgba(255, 255, 255, 0.54);
}

/* line 59, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/themes/_halloween.scss */
.field--horizontal label {
  color: #491e22;
  font-family: 'League Gothic';
  font-size: 24px;
  text-transform: uppercase;
}

/* line 66, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/themes/_halloween.scss */
.input--text {
  color: #0e3166;
}

/* line 70, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/themes/_halloween.scss */
.halloween__menu__header {
  margin-bottom: 2em;
  max-width: 70%;
}

/* line 75, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/themes/_halloween.scss */
.halloween__menu__instructions {
  margin: 0 0 3em;
  padding: 0;
  text-align: center;
}
/* line 80, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/themes/_halloween.scss */
.halloween__menu__instructions li {
  border-left: 3px solid rgba(0, 0, 0, 0.13);
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 32.5%;
}
/* line 89, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/themes/_halloween.scss */
.halloween__menu__instructions li:first-child {
  border-left: 0;
}

/* Parallax Components */
/* line 97, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/themes/_halloween.scss */
.layer {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* line 109, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/themes/_halloween.scss */
.halloween__scene {
  background: url("/images/halloween/background.jpg") 0 0 repeat-x;
  left: 0;
  overflow: hidden;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 0;
}
/* line 118, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/themes/_halloween.scss */
.halloween__scene:after {
  box-shadow: inset 0 0 200px #000;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

/* line 134, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/themes/_halloween.scss */
.halloween__house {
  background: url("/images/halloween/house.png") no-repeat;
  left: 62%;
  height: 246px;
  position: absolute;
  top: 400px;
  width: 199px;
}

/* line 143, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/themes/_halloween.scss */
.halloween__moon, .halloween__witch {
  left: 69%;
  position: absolute;
  top: -100px;
  height: 479px;
  width: 522px;
}

/* line 151, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/themes/_halloween.scss */
.halloween__moon {
  background: url("/images/halloween/moon.png") no-repeat;
}

/* line 155, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/themes/_halloween.scss */
.halloween__witch {
  background: url("/images/halloween/witch.png") no-repeat;
}

/* line 159, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/themes/_halloween.scss */
.halloween__cloud {
  background: url("/images/halloween/cloud.png");
  height: 1220px;
  position: absolute;
  right: -100px;
  top: 0;
  width: 1721px;
}

/* line 168, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/themes/_halloween.scss */
.halloween__ghost {
  background: url("/images/halloween/ghost.png") no-repeat;
  height: 449px;
  left: 590px;
  position: absolute;
  top: 30px;
  width: 189px;
}

/* line 177, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/themes/_halloween.scss */
.halloween__ghoul {
  background: url("/images/halloween/ghoul.png") no-repeat;
  bottom: 0;
  height: 672px;
  left: 27%;
  margin-bottom: -200px;
  position: absolute;
  width: 418px;
}

/* line 187, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/themes/_halloween.scss */
.halloween__trees--left {
  background: url("/images/halloween/trees--left.png") no-repeat;
  height: 453px;
  position: absolute;
  left: -100px;
  top: 93px;
  width: 329px;
}

/* line 196, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/themes/_halloween.scss */
.halloween__trees--right {
  background: url("/images/halloween/trees--right.png") no-repeat;
  height: 490px;
  position: absolute;
  top: 143px;
  right: -100px;
  width: 401px;
}

/* line 205, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/themes/_halloween.scss */
.halloween__bats--back {
  background: url("/images/halloween/bats--back.png") no-repeat;
  height: 86px;
  right: 20%;
  position: absolute;
  top: 336px;
  width: 93px;
}

/* line 214, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/themes/_halloween.scss */
.halloween__bats--front {
  background: url("/images/halloween/bats--front.png") no-repeat;
  left: 10%;
  position: absolute;
  height: 132px;
  top: 170px;
  width: 73px;
}

/* line 223, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/themes/_halloween.scss */
.halloween__hill--back {
  background: url("/images/halloween/hill_back.png") no-repeat;
  height: 1220px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1721px;
}

/* line 232, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/themes/_halloween.scss */
.halloween__hill--middle {
  background: url("/images/halloween/hill_middle.png") no-repeat;
  height: 1220px;
  position: absolute;
  right: -100px;
  top: 0;
  width: 1721px;
}

/* line 241, /Users/nathanielhunzaker/Sites/doppleganger/public/scss/themes/_halloween.scss */
.halloween__hill--front {
  background: url("/images/halloween/hill_front.png") no-repeat;
  height: 1220px;
  left: -100px;
  position: absolute;
  top: 0;
  width: 1721px;
}
