body {
	color: #491d22;
}

h1, h2, h3, h4, h5 {
	color: #491d22;
	font-family: 'League Gothic', sans-serif;
}

.actionbar__logo {
	width: 245px;
}

.actionbar__nav__control {
	&.is-active {
		color: #ccee14;
		text-shadow: 0 1px 10px darken(#ccee14, 10%);
		&:hover {
			text-shadow: 0 1px 20px darken(#ccee14, 10%);	
		}
	}
}

.modal {
	height: 568px;
	width: 798px;
	margin-left: (-798px / 2);	
}

.menu {
	font-size: 18px;
	line-height: 1.5;
	padding: 0;
}

.menu__backface {
	background: url("/images/postcard--back.jpg") 0 0 no-repeat;
	padding: 50px;
}

.btn {
	background: url("/images/btn--back.jpg") 50% 50%;
	border: 5px solid rgba(#000, 0.1);
	border-top-color: rgba(#fff, 0.2);
	border-bottom-color: rgba(#000, 0.3);
	border-radius: 0;
	color: #f3f7e1;
	font-family: 'League Gothic';
	font-size: 24px;
	height: 52px;
	line-height: 42px;
	text-transform: uppercase;
}

.field--horizontal label, .input--text {
	background: rgba(255, 255, 255, 0.54);
}

.field--horizontal label {
	color: #491e22;
	font-family: 'League Gothic';
	font-size: 24px;
	text-transform: uppercase;
}

.input--text {
	color: #0e3166;
}

.halloween__menu__header {
	margin-bottom: 2em;
	max-width: 70%;
}

.halloween__menu__instructions {
	margin: 0 0 3em;
	padding: 0;
	text-align: center;

	li {
		border-left: 3px solid rgba(#000, 0.13);
		display: inline-block;
		list-style: none;
		margin: 0;
		padding: 0;
		text-align: center;
		width: 32.5%;

		&:first-child {
			border-left: 0;
		}
	}
}

/* Parallax Components */

.layer {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.mask {
	@extend .visually-hidden;
}

.halloween__scene {
	background: url("/images/halloween/background.jpg") 0 0 repeat-x;
	left: 0;
	overflow: hidden;
	max-height: 100%;
	max-width: 100%;
	position: absolute;
	top: 0;

	&:after {
		box-shadow: inset 0 0 200px #000;
		content: "";
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 1;
	}
}

.halloween__scene .layer div {
	@extend .accelerated;
}

.halloween__house {
  background: url("/images/halloween/house.png") no-repeat;
  left: 62%;
  height: 246px;
  position: absolute;
  top: 400px;
  width: 199px;
}

.halloween__moon, .halloween__witch {
  left: 69%;
  position: absolute;
  top: -100px;
  height: 479px;
  width: 522px;
}

.halloween__moon {
  background: url("/images/halloween/moon.png") no-repeat;
}

.halloween__witch {
  background: url("/images/halloween/witch.png") no-repeat;
}

.halloween__cloud {
  background: url("/images/halloween/cloud.png");
  height: 1220px;
  position: absolute;
  right: -100px;
  top: 0;
  width: 1721px;
}

.halloween__ghost {
  background: url("/images/halloween/ghost.png") no-repeat;
  height: 449px;
  left: 590px;
  position: absolute;
  top: 30px;
  width: 189px;
}

.halloween__ghoul {
  background: url("/images/halloween/ghoul.png") no-repeat;
  bottom: 0;
  height: 672px;
  left: 27%;
  margin-bottom: -200px;
  position: absolute;
  width: 418px;
}

.halloween__trees--left {
  background: url("/images/halloween/trees--left.png") no-repeat;
  height: 453px;
  position: absolute;
  left: -100px;
  top: 93px;
  width: 329px;
}

.halloween__trees--right {
  background: url("/images/halloween/trees--right.png") no-repeat;
  height: 490px;
  position: absolute;
  top: 143px;
  right: -100px;
  width: 401px;
}

.halloween__bats--back {
  background: url("/images/halloween/bats--back.png") no-repeat;
  height: 86px;
  right: 20%;
  position: absolute;
  top: 336px;
  width: 93px;
}

.halloween__bats--front {
  background: url("/images/halloween/bats--front.png") no-repeat;
  left: 10%;
  position: absolute;
  height: 132px;
  top: 170px;
  width: 73px;
}

.halloween__hill--back {
  background: url("/images/halloween/hill_back.png") no-repeat;
  height: 1220px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1721px;
}

.halloween__hill--middle {
  background: url("/images/halloween/hill_middle.png") no-repeat;
  height: 1220px;
  position: absolute;
  right: -100px;
  top: 0;
  width: 1721px;
}

.halloween__hill--front {
  background: url("/images/halloween/hill_front.png") no-repeat;
  height: 1220px;
  left: -100px;
  position: absolute;
  top: 0;
  width: 1721px;
}