<menu class="menu halloween__menu--help">

	<span class="menu__close">&times;</span>

	<header class="menu__header">
		<h2>Help</h2>
	</header>

	<ul>
		<li>Make sure to use {{link_to_firefox}} or {{link_to_chrome}} to access video features.</li>
    	<li>
			When a session starts, be sure to click the “allow”
			<br>
			button below the browser’s address bar.
		</li>
		<li>It’s also possible that<br>you’ve previously disabled<br>video, in your URL bar.</li>
		<li>Still having issues?<br>{{link_to_help "Contact Us!"}}</li>
	</ul>
</menu>