<menu class="menu halloween__menu--info">
	<header class="menu__header">
		<a class="halloween__menu__pointless" href="http://pointlesscorp.com">
			Pointless Corp
		</a>
	</header>

	<p>
		Haunted Hills gets its sweet moves from Parallax.JS and is powered by
		Doppelganger, a simple WebRTC video platform made by a few Viget
		zombies at Pointless Corp. While it’s fun to look at on almost any device
		(especially phones and tablets) — use the latest versions of Chrome or
		Firefox to get the full experience.
	</p>

	<ul class="halloween__menu__credit-list">
		<li>
			<a href="https://github.com/vigetlabs/doppelganger"><img src="/images/halloween/logos/doppelganger.jpg"></a>
		</li>
		<li>
			<a href="http://www.webrtc.org/"><img src="/images/halloween/logos/webrtc.jpg"></a>
 		</li>
		<li>
			<a href="http://wagerfield.github.io/parallax/"><img src="/images/halloween/logos/parallaxjs.jpg"></a>
		</li>
	</ul>
</menu>