<menu class="menu halloween__menu--info">

	<span class="menu__close">&times;</span>

	<header class="menu__header">
		<a class="halloween__menu__pointless" href="http://pointlesscorp.com">
			Pointless Corp
		</a>
	</header>

	<p class="menu__content">
		Haunted Hills gets its sweet moves from
		{{link_to_parallax}} and is powered by
		{{link_to_doppelganger}}, a simple {{link_to_webrtc}} video
		platform made by a few {{link_to_viget}} zombies at
		{{link_to_pointless}}. While it’s fun to look at on almost any device
		(especially phones and tablets) — use the latest versions of
		{{link_to_chrome}} or {{link_to_firefox}}
		to get the full experience.
	</p>

	<ul class="halloween__menu__credit-list">
		<li>
			{{#link_to_doppelganger}}
				<img src="/images/halloween/logos/doppelganger.jpg">
			{{/link_to_doppelganger}}
		</li>
		<li>
    		{{#link_to_webrtc}}
				<img src="/images/halloween/logos/webrtc.jpg">
			{{/link_to_webrtc}}
 		</li>
		<li>
			{{#link_to_parallax}}
				<img src="/images/halloween/logos/parallaxjs.jpg">
			{{/link_to_parallax}}
		</li>
	</ul>
</menu>