<menu class="menu halloween__menu--info">
	<header class="menu__header">
		<a class="halloween__menu__pointless" href="http://pointlesscorp.com">
			Pointless Corp
		</a>
	</header>

	<p>
		Haunted Hills gets its sweet moves from <a
		href="http://wagerfield.github.io/parallax/"
		target="_blank">Parallax.JS</a> and is powered by
		<a href="https://github.com/vigetlabs/doppelganger"
		target="_blank">Doppelganger</a>, a simple <a
		href="http://www.webrtc.org/" target="_blank">WebRTC</a> video
		platform made by a few <a href="https://viget.com"
		target="_blank">Viget</a> zombies at <a
		href="https://pointlesscorp.com" target="_blank">Pointless
		Corp</a>. While it’s fun to look at on almost any device
		(especially phones and tablets) — use the latest versions of
		<a href="https://www.google.com/intl/en/chrome/browser/" target="_blank">Chrome</a>
		or
		<a href="http://www.mozilla.org/en-US/firefox/new/" target="_blank">Firefox</a>
		to get the full experience.
	</p>

	<ul class="halloween__menu__credit-list">
		<li>
			<a href="https://github.com/vigetlabs/doppelganger" target="_blank"><img src="/images/halloween/logos/doppelganger.jpg"></a>
		</li>
		<li>
			<a href="http://www.webrtc.org/" target="_blank"><img src="/images/halloween/logos/webrtc.jpg"></a>
 		</li>
		<li>
			<a href="http://wagerfield.github.io/parallax/" target="_blank"><img src="/images/halloween/logos/parallaxjs.jpg"></a>
		</li>
	</ul>
</menu>