<nav class="actionbar">
	<a href="/" class="actionbar__logo">Doppelganger</a>
	<ul class="actionbar__nav">
		<li>
			<a href="#" class="actionbar__nav__control actionbar__nav__control--mute">
				<i class="icon">&#xe602;</i>
				<i class="visually-hidden">Mute Microphone</i>
			</a>
		</li>
		<li>
			<a href="#" class="actionbar__nav__control actionbar__nav__control--pause">
				<i class="icon">&#xe603;</i>
				<i class="visually-hidden">Pause Video</i>
			</a>
		</li>
		<li>
			<a href="#" class="actionbar__nav__control actionbar__nav__control--info actionbar__nav__control--social">
				<i class="icon">&#xe606;</i>
				<i class="visually-hidden">Info</i>
			</a>
		</li>
		<li>
			<a href="#" class="actionbar__nav__control actionbar__nav__control--social">
				<i class="icon">&#xe604;</i>
				<i class="visually-hidden">Share on Twitter</i>
			</a>
		</li>
		<li>
			<a href="#" class="actionbar__nav__control actionbar__nav__control--social">
				<i class="icon">&#xe605;</i>
				<i class="visually-hidden">Share on Facebook</i>
			</a>
		</li>
	</ul>
</nav>