<nav class="actionbar">
	<a href="/" class="actionbar__logo">Doppelganger</a>
	<ul class="actionbar__nav">
		{{#if hasWebRTC}}
		<li>
			<a href="#" class="actionbar__nav__control actionbar__nav__control--mute">
				<i class="icon">&#xe602;</i>
				<i class="visually-hidden">Mute Microphone</i>
			</a>
		</li>
		<li>
			<a href="#" class="actionbar__nav__control actionbar__nav__control--pause">
				<i class="icon">&#xe603;</i>
				<i class="visually-hidden">Pause Video</i>
			</a>
		</li>
		{{/if}}
		<li>
			<a href="#" class="actionbar__nav__control actionbar__nav__control--info actionbar__nav__control--social">
				<i class="icon">&#xe606;</i>
				<i class="visually-hidden">Info</i>
			</a>
		</li>
		<li>
			<a href="http://twitter.com/home?status={{tweet}}+{{url}}" target="_blank" class="actionbar__nav__control actionbar__nav__control--social" data-title="Twitter">
				<i class="icon">&#xe604;</i>
				<i class="visually-hidden">Share on Twitter</i>
			</a>
		</li>
		<li>
			<a href="http://www.facebook.com/sharer/sharer.php?s=100&p[url]={{url}}&p[title]={{title}}&p[summary]={{summary}}&p[images][0]={{image}}" target="_blank" class="actionbar__nav__control actionbar__nav__control--social" data-title="Facebook">
				<i class="icon">&#xe605;</i>
				<i class="visually-hidden">Share on Facebook</i>
			</a>
		</li>
	</ul>
</nav>