<nav class="actionbar">
	<a href="/" class="actionbar__logo">Doppelganger</a>

	<ul class="actionbar__nav">
		{{#if hasWebRTC}}
		<li>
			<a href="#" class="actionbar__nav__control actionbar__nav__control--mute">
				<i class="icon">&#xe602;</i>
				<i class="visually-hidden">Mute Microphone</i>
			</a>
		</li>
		<li>
			<a href="#" class="actionbar__nav__control actionbar__nav__control--pause">
				<i class="icon">&#xe603;</i>
				<i class="visually-hidden">Pause Video</i>
			</a>
		</li>
		{{/if}}
		<li>
			<a href="#" class="actionbar__nav__control actionbar__nav__control--info actionbar__nav__control--social">
				About
			</a>
		</li>
		<li>
			<a href="#" class="actionbar__nav__control actionbar__nav__control--share actionbar__nav__control--social">
				Share
			</a>
		</li>
		<li>
			<a href="#" class="actionbar__nav__control actionbar__nav__control--help actionbar__nav__control--social">
				Help
			</a>
		</li>
	</ul>
</nav>