{{#if hasWebRTC}}
<menu class="menu halloween__menu--info">

	<header class="menu__header">
		<a class="halloween__menu__pointless" href="http://pointlesscorp.com">Pointless Corp</a>
	</header>

	<p class="menu__content">
    	Welcome to Haunted Hills! A fun Halloween experiment using
		{{link_to_webrtc}} Video and {{link_to_parallax}}.
		To get the full experience, use your webcam and the latest versions of
		{{link_to_chrome}} or {{link_to_firefox}}.
		Go at it alone, or with friends.
	</p>

	<form class="form--lobby menu__content">
		<input type="hidden" name="room_name" value="{{uuid}}">
			<button class="btn" type="submit">Visit Haunted Hills</button>
		</div>
	</form>

</menu>

{{else}}
<div class="menu is-error">
	<span class="menu__close">&times;</span>
    <div class="halloween__menu__header">
        <h2>BOO!*</h2>
        <p>
            Your browser isn’t welcome in Haunted Hills. Although it’s still fun to look at — you
            really should download
            <a href="https://www.google.com/intl/en/chrome/browser/" target="_blank">Chrome</a>
            or
            <a href="http://www.mozilla.org/en-US/firefox/new/" target="_blank">Firefox</a>
            to get the full experience.
        </p>
        <br>
        <button class="btn js--skip">Take me there anyway</button>
        <small class="halloween__menu__caveat">* disappointed "Boo" not intimidating scary "Boo"</small>
    </div>
</div>
{{/if}}