.actionbar {
	background: rgba(#000, 0.5);
	left: 0;
	padding: 0 1em 0 2em;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 5;
}

.actionbar__logo {
	background: transparent url("/images/logo--light.png") 0 0 no-repeat;
	@include background-size(cover);
	display: block;
	left: 1.5em;
	margin: -15px 0 0 0;
	position: absolute;
	top: 50%;

	@include hide-text('left');
	height: 30px;
	width: 91px;

	@include transition(0.4s all);

	@media screen and (min-width: 768px) {
		height: 60px;
		margin-top: -30px;
		width: 182px;
	}
}

.actionbar__nav {
	margin: 0;
	padding: 0; 
	text-align: right;

	li {
		display: inline-block;
		margin: 0 0.5em;
	}
}

.actionbar__nav__control {
	color: rgba(#fff, 0.3);
	display: block;
	line-height: 60px;
	text-decoration: none;
	transition: 0.3s all;

	&:hover {
		color: rgba(#fff, 0.5);
	}

	&.is-active {
		color: #3AF;

		&:hover {
			text-shadow: 0 1px 5px darken(#3AF, 10%);
		}
	}
}

@media screen and (max-width: 768px) {

}