.actionbar {
	background: rgba(#000, 0.5);
	left: 0;
	padding: 0 1em;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 3;
}

.actionbar__logo {
	background: transparent url("/images/logo--light.png") 0 0 no-repeat;
	@include hide-text('left');
	float: left;
	height: 60px;
	width: 182px;
}

.actionbar__nav {
	margin: 0;
	padding: 0; 
	text-align: right;

	li {
		display: inline-block;
		margin: 0 0.5em;
	}
}

.actionbar__nav__control {
	color: rgba(#fff, 0.3);
	display: block;
	line-height: 60px;
	text-decoration: none;
	transition: 0.3s all;

	&:hover {
		color: rgba(#fff, 0.5);
	}

	&.is-active {
		color: #3AF;

		&:hover {
			text-shadow: 0 1px 5px darken(#3AF, 10%);
		}
	}
}
